<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="logo" href="/">
    <%= image_tag("karate_letters.jpg", width: 40) %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Shōrin-ryū</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%#= link_to "Users", users_path, class: "nav-link" %>
          <a href="<%= users_path %>" class="nav-link">
            Users <!--<span class="badge badge-pill badge-secondary"><%#= User.count %></span>-->  
          </a>
        </li>
      <% end %>
      <li class="nav-item">
        <%#= link_to "Users", users_path, class: "nav-link" %>
        <a href="<%= events_path %>" class="nav-link">
          Events <!--<span class="badge badge-pill badge-secondary"><%#= Event.count %></span>-->  
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= "Signed in as #{extract_name(current_user)}#{current_user.admin? ? ' (Admin)': ''}" %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Edit", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>