<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h1>Edit</h1>
    <%= form_for @event do |f| %>

      <% if @event.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <ul>
            <% @event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      
      <%= f.fields_for :address do |adr_form| %>
        <div class="row">
          <div class="form-group col-md-8">
            <%= adr_form.label :street %>
            <%= adr_form.text_field :street, class: "form-control" %>
          </div>  
          
          <div class="form-group col-md-4">
            <%= adr_form.label :house_number, "House #" %>
            <%= adr_form.number_field :house_number, class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-8">
            <%= adr_form.label :city %>
            <%= adr_form.text_field :city, class: "form-control" %>
          </div>
          
          <div class="form-group col-md-4">
            <%= adr_form.label :zip_code %>
            <%= adr_form.text_field :zip_code, class: "form-control" %>
          </div>
        </div>
      <% end %>
      
      <%= f.submit "Update", class: "btn btn-success btn-wide" %>        

    <% end %>
  </div>
</div>