<div class="row">
  <div class="col-md-6">
    <h1>Events</h1>
  </div>
</div>
<div class="row">
  <section class="col-md-9">
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "New event", new_event_path, class: "btn btn-success btn-wide" %>
    <% end %>
    <% @events.each do |event| %>
      <div class="card my-3">
        <div class="row">
          <div class="col-md-3 col-xl-2 image">
            <%= image_tag(event.image, size: 150, class: "avatar") %>
          </div>
          <div class="col-md-9 col-xl-10">
            <div class="card-body">
              <h4 class="card-title"><%= event.name %></h5>
              <p class="card-text">
                <b>Address:</b> <%= event.address[:street] %> <%= event.address[:house_number] %>,
                 <%= event.address[:zip_code] %> <%= event.address[:city] %>,
                <small><b>added by:</b> <%= link_to event.user.login, user_path(event.user) %></small>
              </p>
              <% event.comments.each do |comment| %>
                <p class="card-text"><%= comment.content %></p>
              <% end %>
              <p class="card-text">
                
                <%= link_to "Show", event, class: "btn btn-info" %>
                <% if is_owner_or_admin?(current_user, event) %>
                  <%= link_to "Edit", edit_event_path(event), class: "btn btn-warning" %>
                  <%= link_to "Delete", event_path(event), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %>
                <% end %>
              </p>
              <% if user_signed_in? %>
                <% form_for @comment do |f| %>
                  <%= f.label :content %>
                  <%= f.text_area :content %>
                  <%= f.hidden_field user: current_user %>
                  <%= f.submit "home", class: "btn btn-success" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>    
  </section>
  <aside class="col-md-3">
    
  </aside>

</div>