.row.justify-content-center
  .col-md-6.col-lg-4
    %h1 New event
    = form_for @event do |f|
      - if @event.errors.any?
        #error_explanation.alert.alert-danger
          %ul
            - @event.errors.full_messages.each do |message|
              %li= message
      .form-group
        .custom-file
          = f.label :image, class: "custom-file-label"
          = f.file_field :image, class: "custom-file-input"
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      = f.fields_for :address do |adr_form|
        .row
          .form-group.col-md-8
            = adr_form.label :street
            = adr_form.text_field :street, class: "form-control"
          .form-group.col-md-4
            = adr_form.label :house_number, "House #"
            = adr_form.number_field :house_number, class: "form-control"
        .row
          .form-group.col-md-8
            = adr_form.label :city
            = adr_form.text_field :city, class: "form-control"
          .form-group.col-md-4
            = adr_form.label :zip_code
            = adr_form.text_field :zip_code, class: "form-control"
      = f.submit "Create", class: "btn btn-success btn-wide"
            
            