.row.justify-content-center
  .col-md-6
    %h1= @event.name
    .card
      .card-body
        %h5.card-title
          %b City:  
          = @event.address[:city]
        %p.card-text
          %b Zip-Code: 
          = @event.address[:zip_code] 
        %p.card-text
          %b Street:
          = @event.address[:street] + ", "
          = @event.address[:house_number]          
        %p.card-text
          %b= "Added by: "
          = link_to @event.user.login, user_path(@event.user)
        %p.card-text
          %b= "Created: "
          = @event.created_at.strftime("%e-%b-%Y")
        = link_to "Edit", edit_event_path(@event), class: "btn btn-warning"
        = link_to "Delete", event_path(@event), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete
        - @event.comments.each do |comment|
          %p.card-text 
            = comment.content
            %small= " added by " + comment.user.login
            - if is_owner_or_admin?(current_user, comment)
              =link_to "Delete", event_comment_path(@event, comment), data: { confirm: "Are you sure?" }, method: :delete
        - if user_signed_in?
          = form_for @event.comments.build, url: event_comments_url(@event), method: :post do |f|
            .form-group
              = f.label :content
              = f.text_area :content, class: "form-control"
              = f.submit "Add comment", class: "btn btn-success btn-wide"
              
              
              