.row.justify-content-center
  .col-md-6.col-lg-4
    %h1 
      New Checkout
.row
  %section
    %main
      Items in your checkout:
      - @cart.cart_items.each do |c_item|
        %div{id: "#{c_item.item.id}"}
          %b
            = c_item.item.name
          %p
            = c_item.item.price.to_s + " PLN "
            &times;
            %span{id: "quantity_#{c_item.item.id}"}= c_item.quantity
          %p
            = link_to "Delete item", cart_item_path(c_item.cart, c_item), class: "btn btn-danger btn-sm" ,method: :delete, data: { confirm: "Are you sure?" }, remote: true
      %h4
        = "Total price: "
        %span#total_price= @cart.sum_price
        = " PLN"
    = form_for @checkout do |f|
      = render "shared/errors", obj: @checkout
      // = f.hidden_field :paid
      .delivery_method
        .form-check
          = f.radio_button :delivery_method, 1, class: "form-check-input", checked: true
          = f.label :delivery_method_1, "Standard delivery - 19.90 PLN", class: "form-check-label"
        .form-check
          = f.radio_button :delivery_method, 2, class: "form-check-input"
          = f.label :delivery_method_2, "Express delivery - 29.90 PLN", class: "form-check-label"
      = button_tag "Continue", type: "button", class: "btn btn-success", id: "from_delivery_method"
      .delivery_address
        %h4 Delivery address
        = f.fields_for :delivery_address do |adr_form|
          .row
            .form-group.col-md-6
              = adr_form.label :first_name, "First Name"
              = adr_form.text_field :first_name, class: "form-control"
            .form-group.col-md-6
              = adr_form.label :last_name, "Last Name"
              = adr_form.text_field :last_name, class: "form-control"
          .row
            .form-group.col-md-6
              = adr_form.label :phone_number, "Phone Number"
              = adr_form.text_field :phone_number, class: "form-control"
            .form-group.col-md-6
              = adr_form.label :email_address, "Email Address"
              = adr_form.text_field :email_address, class: "form-control"
          .row
            .form-group.col-md-4
              = adr_form.label :street
              = adr_form.text_field :street, class: "form-control"
            .form-group.col-md-2
              = adr_form.label :house_number, "House #"
              = adr_form.number_field :house_number, class: "form-control"
            .form-group.col-md-4
              = adr_form.label :city
              = adr_form.text_field :city, class: "form-control"
            .form-group.col-md-2
              = adr_form.label :zip_code, "Zipcode"
              = adr_form.text_field :zip_code, class: "form-control"
      = button_tag "Back", type: "button", class: "btn btn-warning", id: "to_delivery_method"
      = button_tag "Continue", type: "button", class: "btn btn-success", id: "from_delivery_address"
      = button_tag "Use delivery address", type: "button", id: "use_delivery_address", class: "btn btn-success"
      .billing_address
        %h4 Billing address
        = f.fields_for :billing_address do |adr_form|
          .row
            .form-group.col-md-6
              = adr_form.label :first_name, "First Name"
              = adr_form.text_field :first_name, class: "form-control"
            .form-group.col-md-6
              = adr_form.label :last_name, "Last Name"
              = adr_form.text_field :last_name, class: "form-control"
          .row
            .form-group.col-md-6
              = adr_form.label :phone_number, "Phone Number"
              = adr_form.text_field :phone_number, class: "form-control"
            .form-group.col-md-6
              = adr_form.label :email_address, "Email Address"
              = adr_form.text_field :email_address, class: "form-control"
          .row
            .form-group.col-md-4
              = adr_form.label :street
              = adr_form.text_field :street, class: "form-control"
            .form-group.col-md-2
              = adr_form.label :house_number, "House #"
              = adr_form.number_field :house_number, class: "form-control"
            .form-group.col-md-4
              = adr_form.label :city
              = adr_form.text_field :city, class: "form-control"
            .form-group.col-md-2
              = adr_form.label :zip_code, "Zipcode"
              = adr_form.text_field :zip_code, class: "form-control"
      = button_tag "Back", type: "button", class: "btn btn-warning", id: "to_delivery_address"
      = button_tag "Continue", type: "button", class: "btn btn-success", id: "from_billing_address"
      .payment_method
        %button#creditCardButton.stripe-button-el{type: "button"}
          %span Pay with Card
        #paypal-button
      #stripe-elements
        %script.stripe-button{"data-amount" => "999", "data-description" => "Example charge", "data-image" => "https://stripe.com/img/documentation/checkout/marketplace.png", "data-key" => "pk_test_GQq9bxu7aMfrR0YCsfw86ZYF", "data-locale" => "auto", "data-name" => "Stripe.com", "data-zip-code" => "true", :src => "https://checkout.stripe.com/checkout.js"}
      = button_tag "Back", type: "button", class: "btn btn-warning", id: "to_billing_address"  
      = f.submit "Submit", class: "btn btn-success", id: "submit_form"
      

      
      
      