.row.justify-content-center
  .col-md-6
    %h1 Show item
    .card
      =image_tag(@item.image, size: 200, class: "avatar")
      .card-body
        %h5.card-title= @item.name
        %p.card-text= @item.description
        %p.card-text 
          =@item.size
          ,
          =@item.price
          PLN,
          %small= @item.store_item_id
        - if current_user.try(:admin?)
          =link_to "Delete item", item_path(@item), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"
          =link_to "Edit item", edit_item_path(@item), class: "btn btn-warning"
        - @item.comments.each do |comment|
          %p.card-text 
            = comment.content
            %small= " added by " + comment.user.login
            - if owner_or_admin?(current_user, comment)
              =link_to "Delete", item_comment_path(@item, comment), data: { confirm: "Are you sure?" }, method: :delete
        - if user_signed_in?
          = form_for @cart.cart_items.build, url: cart_cart_items_url(@cart)  do |f|
            .form-group
              = hidden_field_tag item_id: @item.id
              = f.label :quantity
              = f.number_field :quantity, min: 1, step: 1, class: "form-control"
              = f.submit "Add to cart", class: "btn btn-info"
          = form_for @item.comments.build, url: item_comments_url(@item), method: :post do |f|
            .form-group
              = f.label :content
              = f.text_area :content, class: "form-control"
              = f.submit "Add comment", class: "btn btn-success btn-wide"