<!DOCTYPE html>
<html>
  <head>
    <title>ShorinRyu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
  </head>

  <body class="<%= controller.controller_name %>">
    <%= render "shared/navigation" %>
    <div class="<%= @body_class %>">
      <%= render "shared/flash" %>
      <%= yield %>  
    </div>
  </body>
</html>
